<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper" style="display: flex; flex-direction: column;">
      <div class="footer-col" style="display: flex; justify-content: center;">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>

      <div class="footer-col" style="display: flex; justify-content: center;">
        <p style="text-align: center;">{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links" style="display: flex; justify-content: center;">
      {%- include social.html -%}
    </div>

  </div>

</footer>
